@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    background-color: skyblue;
    border-radius: 4px;
    gap: 10px;
    padding: 5px;
}

.buttons:hover {
    background-color: lightslategray;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
